<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Play Songs</title>
<link rel="stylesheet" th:href="@{/css/tablestyle.css}"/>
</head>

<body>
  <h1>Listen To Your Songs</h1>
  <table border>
    <thead>
       <tr>
          <th>Name </th>
          <th>Artist</th>
          <th>Genre</th>
          <th>Play</th>
       </tr>
    </thead>
    
    <tbody>
      <tr th:each="song:${songs}">
         <td th:text="${song.name}"></td>
         <td th:text="${song.artist}"></td>
         <td th:text="${song.genre}"></td>
         <td>
           <audio controls="controls">
           <source th:src="${song.link}">
           
           </audio>
         </td>
      </tr>
    </tbody>
  </table>
</body>
</html>