<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Play Songs</title>
<style type="text/css">
iframe{
height: 100px;
width: 600px;

}

</style>
</head>

<body>
  <table border>
    <thead>
       <tr>
          <th>Name </th>
          <th>Songs</th>
          
       </tr>
    </thead>
    
    <tbody>
      <tr th:each="plist:${playlists}">
         <td th:text="${plist.name}"></td>
         <td>
           <ul>
             <li th:each="song:${plist.songs}" >
              <span th:text="${song.name}"></span>
                <audio controls="controls">
               <source th:src="${song.link}">
               </audio>
             </li>
           
           </ul>
         </td>
         
      </tr>
    </tbody>
  </table>
</body>
</html>